.equipo {
    width: 100%;
    padding: 32px;
    box-sizing: border-box;
    text-align: center;
    font-size: 32px;
    position: relative;
}

.input-color {
    position: absolute;
    right: 20px;
    top: 20px;
}

.equipo h3 {
    font-weight: 400;
    color: #212121;
    font-family: 'Prata', serif;
    border-bottom: 4px solid;
    display: inline-block;
    padding-bottom: 8px;
    font-size: 25px;
}

@media (min-width: 768px) {
    .equipo h3 {
        font-size: 40px;
    }
}

.colaboradores {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}