.formulario {
    margin: 40px 0;
}

@media (min-width: 768px) {
    .formulario {
        margin: 55px 0;
    }
}

.formularios {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

@media (min-width: 998px) {
    .formularios {
        flex-direction: row;
        align-items: flex-start;
    }
}

.formulario form { 
    max-width: 100%;
    background-color: #f7f7f7;
    box-shadow: 7px 7px 15px rgba(0, 0, 0, .4);
    border-radius: 20px;
    padding: 10px;
    width: 100%;
}


.formulario h2 {
    font-size: 20px;
    font-weight: 400;
    color: #212121;
}

@media (min-width: 768px) {
    .formulario h2 {
        font-size: 32px;
    }
}