.orgSection {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (min-width: 768px) {
    .orgSection {
        flex-direction: row;
    }
}

.title {
    color: #6278f7;
    font-size: 25px;
    font-weight: 400;
    padding-bottom: 24px;
    border-bottom: 4px solid #6278f7;
}

@media (min-width: 768px) {
    .title {
        font-size: 4rem;
    }
}

.orgSection img {
    cursor: pointer;
    width: 10rem;
}